<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyle.css') }}">
</head>
<body>
    <div class="main-home">
        <p id="inner-heading">A DNN based speaker verification system 😊</p>
       
        <div class="content">
            <h1>Follow These steps to Login :</h1>
            <h2>Step1: Click on Proceed Button given below.</h2>
            <h2>Step2: click on start recoding and read the given sentense.</h2>
            <h2>Step3: Click on save and continue button.</h2>
            <h2>Step4: when processing page comes then wait till the conformation.</h2>
            <h3>(....  In the mean time you can check the terminal for more information and progress...)</h3>
            <h2>Step5: Now our result got displayed, return to home  or reAttempt to login</h2>

        </div>

        <button class="button" onclick="window.location.href='page2'"> Proceed  </button>   

        <div class="footer"></div>
    </div>
</body>
</html>