<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registerStyle.css') }}">
</head>
<body>
    <div class="main-home">
        <p id="inner-heading">A DNN based speaker verification system 😊</p>
       
        <h1 id="reg">Registration Success !!</h1>

        <div class="button-wrapper">
            <button class="button" onclick="window.location.href='../'"> Home </button>
            <!-- <button class="button"> Save and Continue  </button> -->
        </div> 

        <div class="footer"></div>
    </div>
</body>
</html>