<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main-home">
        <p id="inner-heading">A DNN based speaker verification system 😊</p>
        <p id="line2">Choose one option to proceed </p>

        <div class="button-wrapper">
            <button class="button" onclick="window.location.href='register/page1'"> Register </button>
            <button class="button" onclick="window.location.href='login/page1'"> LogIn  </button>
        </div>        


    </div>
</body>
</html>